<article class="product">
    <a [routerLink]="['/details', product.id]">
    <img
        [src]="product.image"
        alt="Exterior photo of {{ product.title }}"
        crossorigin
    />
    
        <h2 class="title-product">{{ product.title }}</h2>
    </a>
    <h3 class="price-product">
        R$ <span>{{product.price}}</span>
    </h3>
    <div class="quantity">
        <span >Quantity:</span>
        <button [disabled]="statusButton" class="minus" (click)="minus()">-</button>
        <span>{{ quantity }}</span>
        <button class="plus" (click)="plus()">+</button>
    </div>
    <button class="buy" (click)="buyProduct()">Buy</button>
</article>
